tr, body{
    font-family: 'Courier New', Courier, monospace;
}
table,th,td{
    border:1px solid black;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .timer-display {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace
  }
  
  .start-button {
   border: none;
  }

  .tag-select {
  margin-bottom: 2rem;
}

.tag-select label {
  margin-right: 1rem;
}

.tag-select select {
  border: none;
}