
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body> 
    <h1 class="title">Pomo-duino</h1>
    <div class="timer-display">50:00</div>
        <div class="timer-form">
        <label for="duration">Enter number of Pomodoros:</label>
        <input type="number" id="duration" min="1" max="120" required>
        </div>
    <div class="tag-select">
        <label for="tags">Select a tag:</label>
        <select id="tags">
        <option value="work">Work</option>
        <option value="study">Study</option>
        <option value="exercise">Exercise</option>
        <option value="rest">Rest</option>
        </select>
    </div>
    <button class="start-button">Start</button>

    <form method="get" action="{{ url_for('home') }}">
		<button type="submit">Go to stats Page</button>
	</form>

</body>
<script src="{{url_for('static', filename='js/timer.js')}}"></script>
<script src="{{url_for('static', filename='js/server.js')}}"></script>
</html>